<button ng-click="exportToCsv('network')">Export Networks To CSV</button> </br>
<button ng-click="exportToCsv('line')">Export Lines To CSV</button> </br>
<button ng-click="exportToCsv('path')">Export LinePaths To CSV</button> </br>
<button ng-click="exportToCsv('station')">Export Stations To CSV</button> </br>
<button ng-click="exportToCsv('stopLink')">Export StopLinks To CSV</button> </br>
<button ng-click="exportToCsv('platform')">Export Platforms To CSV</button> </br>
<button ng-click="exportToCsv('node')">Export Nodes To CSV</button> </br>
<button ng-click="exportToCsv('stops')">Export Stops To XML</button> </br>
<button ng-click="exportToCsv('nodesXml')">Export Nodes To XML</button> </br>
<button ng-click="exportToCsv('gtfsTopology')">Export Gtfs Topology To XML</button> </br>
<button ng-click="exportToCsv('nodalGeography')">Export NodalGeography To XML</button> </br>



