
<h1 style="text-align: center">Platform List</h1>
<!--div ng-controller="StationController" style="height:80%; width: 80%"-->
    <div id="platforms" ui-grid ="gridOptions" class="grid" ui-grid-edit ui-grid-selection ui-grid-auto-resize ui-grid-cellNav style="height:80%; width: 95%"></div>
<!--/div-->

<form name="platformForm">
    <table>
        <tr>
            <td>
                <b>Station :</b>
                <select name="platformStation" data-ng-model="platform.station"
                        ng-options="configData.refDataName for configData in stationSet" ng-disabled="formFieldDisabled()||isInEditMode()" required>
                </select>
                <span class="warnText" ng-show="platformForm.platformStation.$error.required&&!formFieldDisabled()">
                    Required!
                </span>
            </td>
            <td>
                <b>Platform Name:</b>
                <input type="text" maxlength="20" size="20" name="platformName" data-ng-model="platform.platformName" ng-disabled="formFieldDisabled()||isInEditMode()" required>
            <span class="warnText" ng-show="platformForm.platformName.$error.required&&!formFieldDisabled()">
                Required!
            </span>
            </td>
            <td>
                <b>Long Name:</b>
                <input type="text" maxlength="20" size="20" name="platformLongName" data-ng-model="platform.platformLongName" ng-disabled="formFieldDisabled()" required>
                <span class="warnText" ng-show="platformForm.platformLongName.$error.required&&!formFieldDisabled()">
                    Required!
                </span>
            </td>
            <td>
            <b>platform No:</b>
            <input type="text" maxlength="20" size="20" name="platformNo" data-ng-model="platform.platformNo" ng-disabled="formFieldDisabled()" required ng-pattern="/^\d{0,9}$/">
                <span class="warnText" ng-show="platformForm.platformNo.$error.required&&!formFieldDisabled()">
                    Required!
                </span>
                <span class="warnText" ng-show="platformForm.platformNo.$error.pattern&&!formFieldDisabled()">
                    Not valid number!
                </span>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>Latitude:</b>
                <input type="text" maxlength="30" size="30" data-ng-model="platform.latitude" name="latitude" ng-disabled="formFieldDisabled()" ng-pattern="/^(-)?\d{0,9}(\.\d{1,10})?$/">
                <span class="warnText" ng-show="platformForm.latitude.$error.pattern&&!formFieldDisabled()">
                    Not valid number!
                </span>
            </td>
            <td>
                <b>Longtitude:</b>
                <input type="text" maxlength="30" size="30" name="longtitude" data-ng-model="platform.longtitude" ng-disabled="formFieldDisabled()" ng-pattern="/^(-)?\d{0,9}(\.\d{1,10})?$/">
                <span class="warnText" ng-show="platformForm.longtitude.$error.pattern&&!formFieldDisabled()">
                    Not valid number!
                </span>
            </td>
            <td>
                <b>Gtfs Stop Id:</b>
                <input type="text" maxlength="10" size="10" name="platformStopId" data-ng-model="platform.platformStopId" ng-disabled="formFieldDisabled()" ng-pattern="/^\d{0,9}$/" required>
                <span class="warnText" ng-show="platformForm.platformStopId.$error.required&&!formFieldDisabled()">
                    Required!
                </span>
                <span class="warnText" ng-show="platformForm.platfromStopId.$error.pattern&&!formFieldDisabled()">
                    Not valid number!
                </span>
            </td>
            <td>

            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <button ng-click="addPlatformRow(platform)" ng-disabled="isAddBottonDisable() || (!formFieldDisabled() && !platformForm.$valid)">{{addBottonLabel}}</button>
                <button ng-click="editPlatformRow(platfrom)" ng-disabled="isEditBottonDisable() || (!formFieldDisabled() && !platformForm.$valid)">{{editBottonLabel}}</button>
                <button ng-click="deletePlatformRow()" ng-disabled="isDeleteBottonDisable()">Delete</button>
                <button ng-click="cancelPlatformRow()" ng-disabled="isCancelBottonDisable()">Cancel</button>
                <button ng-click="exportToCsv()">Export To CSV</button>
            </td>
        </tr>
    </table>
</form>


